// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "angular-ui-notification";

@import "ngToast";

@import "ngToast-animations";

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

body{
  background-image: url("../bg/1.jpg");
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}

.thumbnail {
  padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
}

form.picture-delete{

  margin-bottom: 20px;
}

table.tags{
  margin-top: 20px;
}


.card .card-image{
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card .card-image img{
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card .card-image:hover img{
  /*-webkit-transform: scale(1.2) rotate(-7deg);
  -moz-transform: scale(1.2) rotate(-7deg);
  -ms-transform: scale(1.2) rotate(-7deg);
  -o-transform: scale(1.2) rotate(-7deg);
  transform: scale(1.2) rotate(-7deg);*/
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2) ;
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.card{
  margin-top: 0px;
  position: relative;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.input-group.my-tags{
  margin-bottom: 20px;
}

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
}

