// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.hide-bullets {
  list-style:none;
  margin-left: -40px;
  margin-top:20px;
}

.thumbnail {
  padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  width: 100%;
}

form.picture-delete{

  margin-bottom: 20px;
}

table.tags{
  margin-top: 20px;
}